@model ChangePhoneNumberViewModel

@{
    ViewData["Title"] = "Change Phone Number";
}

<h1>Change Phone Number</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePhoneNumber" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPhoneNumber" class="control-label"></label>
                <input asp-for="OldPhoneNumber" class="form-control" />
                <span asp-validation-for="OldPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPhoneNumber" class="control-label"></label>
                <input asp-for="NewPhoneNumber" class="form-control" />
                <span asp-validation-for="NewPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPhoneNumber" class="control-label"></label>
                <input asp-for="ConfirmPhoneNumber" class="form-control" />
                <span asp-validation-for="ConfirmPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Phone Number" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
