@model Group12_FinalProject.Models.ReservationDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReservationDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReservationDetailID" class="control-label"></label>
                <input asp-for="ReservationDetailID" class="form-control" />
                <span asp-validation-for="ReservationDetailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StayPrice" class="control-label"></label>
                <input asp-for="StayPrice" class="form-control" />
                <span asp-validation-for="StayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationStartDate" class="control-label"></label>
                <input asp-for="ReservationStartDate" class="form-control" />
                <span asp-validation-for="ReservationStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentDate" class="control-label"></label>
                <input asp-for="CurrentDate" class="form-control" />
                <span asp-validation-for="CurrentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationEndDate" class="control-label"></label>
                <input asp-for="ReservationEndDate" class="form-control" />
                <span asp-validation-for="ReservationEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofDays" class="control-label"></label>
                <input asp-for="NumberofDays" class="form-control" />
                <span asp-validation-for="NumberofDays" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

